<!DOCTYPE html>
<html>
  <head>
    <title> boo </title>

  </head>

  <body>
    <!--Server = {{server}}-->
    <form action = "/search" method = "POST">
      What information do you want to find? <br>
      Choose an option from the dropdown menu and type your input.<br>
      <select name = "option">
	<option value="name">First Name</option>
        <option value="surname">Surname</option>
        <option value="year">Year</option>
        <option value="num"># of Winners</option>
      </select>
      <input type = "text" name = "input" >
      <input type = "submit" name = "submit" >
    </form>
    {{results}}
    <hr>

  </body>
</html>
